<div class="container">
    <form ng-submit="submit()">
        <div class="span2">
            <select name="video" ng-model="newstock.title"
                    ng-options="video.videoId as video.title for video in videos|orderBy:'title'"></select>
            <input type="text" name="qty" ng-model="newstock.quantity"/>
            <input type="submit" id="submit" value="Submit"/>
        </div>
    </form>
</div>

<table class="table">
<thead>
<tr>
    <th>Title</th>
    <th>Quantity</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="item in stock|orderBy:'title'">
    <td>{{ item.title }}</td>
    <td>{{ item.quantity }}</td>
</tr>
</tbody>
</table>
