<div class="row">
    <div class="col-lg-3">
        <div class="well facets">
            <ul class="nav nav-pills nav-stacked" ng-repeat="facet in facets|orderBy:'-count'">
                <li>
                    {{ facet.name }}
                    <span class="badge pull-right">{{ facet.count }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Year</th>
                <th>Country</th>
                <th>Duration (min)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="video in videoList.videos">
                <td>{{ video.videoId }}</td>
                <td>{{ video.title }}</td>
                <td>{{ video.year }}</td>
                <td>{{ video.country }}</td>
                <td>{{ video.duration }}</td>
            </tr>
            </tbody>
        </table>
        <pagination class="pagination-sm" direction-links="false" num-pages="videoList.totalPages" current-page="videoList.page"
                    on-select-page="newPage(page)"></pagination>
    </div>
</div>
