<div class="container">
<legend>Videos</legend>
<div class="row">
    <div class="col-lg-3">
        <div class="well facets">
            <div>
                <select ng-model="category" ng-change="searchByType()">
                    <option value="country" selected>Country</option>
                    <option value="year" selected>Year</option>
                </select>
            </div>
            <br/>
            <ul class="nav nav-pills nav-stacked" ng-repeat="facet in facets|orderBy:'-count'">
                <li>
                    {{ facet.name }}
                    <span class="badge pull-right">{{ facet.count }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Country</th>
                <th>Duration (min)</th>
                <th>Stock on Hand</th>
                <th>Qty to Add</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="video in videoList.videos">
                    <td>{{ video.title }}</td>
                    <td>{{ video.year }}</td>
                    <td>{{ video.country }}</td>
                    <td>{{ video.duration }}</td>
                    <td>0</td>
                    <td>Test</td>
                </tr>
            </tbody>
        </table>
        <pagination class="pagination-sm" direction-links="false" num-pages="videoList.totalPages"
                    current-page="videoList.page"
                    on-select-page="newPage(page)"></pagination>
    </div>
</div>
</div>
