<div id="newVideo">
    <form ng-submit="submit()">
        <table class="table">
            <thead>
            <tr>
                <th>VideoId</th>
                <th>Title</th>
                <th>Year</th>
                <th>Duration (min)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" name="videoId" ng-model="data.videoId"/></td>
                <td><input type="text" name="title" ng-model="data.title"/></td>
                <td><input type="text" name="year" ng-model="data.year"/></td>
                <td><input type="text" name="duration" ng-model="data.duration"/></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" id="submit" value="Submit"/>
    </form>
</div>
